{% extends "main.html" %}

{% block  main %}
    
    <form action="nuevo" method="POST">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre">
        </div>
        <div class="mb-3">
            <label class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="descripcion">
        </div>
        <div class="mb-3">
            <label class="form-label">Categoria</label>
            <input type="text" class="form-control" name="categoria">
        </div>
        <div class="mb-3">
            <label class="form-label">Codigo</label>
            <input type="text" class="form-control" name="codigo">
        </div>
        <button type="submit" class="btn btn-primary" name="enviar">Submit</button>
        
    </form>
{% endblock %}